.cicle-wrrap {
  margin: 20px 50px 30px 100px;
  
  width: 100px;
  /* border: 1px solid red; */
}

.title-cicle {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.big-cicle, .little-cicle {
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  
}

.big-cicle {
  max-width: 100%;
  height: 100px;
  line-height	: 100px;
  position: relative;
} 

.little-cicle {
  width: 20px;
  height: 20px;
  line-height	: 20px;
  position: absolute;
  top: -12px; 
  right: -12px;
  cursor: pointer;
}